examples/checkpoints/*
examples/training_progress/*
examples/cpu/*
LocalPreferences.toml
.JuliaFormatter.toml
debug.jl
signalnoiseratio.jl
myoptions.yaml
losses.log
combinations.md
lcov.info
testing.jl
*.swp
myoptions_desktop.yaml
options.yaml